<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="stylesheet" type="text/css" href="css/styles.css"/>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css"/>

</head>
<body>
<div>
    <p>
        <a class="menu-item" href="manage" target="right">
            信息管理
        </a>
    </p>
</div>
<div>
    <p>
        <a class="menu-item " href="insertBringInfo" target="right">
            发布信息
        </a>
    </p>
</div>
<div>
    <p>
        <a class="menu-item " href="exit" target="sypost">
            退出登陆
        </a>
    </p>
</div>
</body>
</html>