<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="stylesheet" type="text/css" href="css/styles.css"/>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/styles.css"/>
   
    <title>勤工助学系统</title>
    <link rel="stylesheet" href="css/admin-main.css"/>
</head>

<frameset FRAMEspacing="0" border="0" cols="150,*">
    <frame class="left" src="/admin-left" name="left" scrolling="no"/>
    <frame class="right" src="/manage" name="right" scrolling="auto"/>
</frameset>



<footer>
    <center>
        <span>@2017 勤工助学中心</span>
        <br/>
        <span>技术支持：明理苑大学生网络文化工作室</span>
    </center>
</footer>
<script src="js/jquery-1.12.4.js" type="text/javascript"></script>
<script src="js/bootstrap.js" type="text/javascript"></script>
</html>