<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>职位管理页</title>
    <link rel="stylesheet" href="./css/jquery.dataTables.min.css"/>
    <link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css"/>
    <script src="./js/jquery-1.12.4.js"></script>
    <script src="./js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" language="javascript"
            src="./js/dataTables.bootstrap.js"></script>
    <script src="./js/manage.js"></script>
    <script src="./js/bootstrap.min.js"></script>
   <script type="text/javascript" src='./js/laydate/laydate.js'></script>

</head>
<body>

		<table class="table table-striped table-broderd" id="list">
			<thead>
				<tr>
					<th>标题</th>
					<th>单位地址</th>
					<th>截止时间</th>
					<th>招聘人数</th>
					<th class='beizhu'>备注</th>
				</tr>
			</thead>
			<tbody>

			</tbody>
			<tfoot>
			
			</tfoot>
		</table>
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel" aria-hidden="true"><script type="text/javascript">
	lay('#version').html('-v' + laydate.v);

	//执行一个laydate实例
	laydate.render({
		elem : '.datepick' //指定元素
	});
</script>
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true">&times;</button>
						<h4 class="modal-title text-center" id="myModalLabel"
							data-backdrop="static" data-keyboard="false">职位修改提交表</h4>
					</div>
					<div class="modal-body">


					
							<table class="table table-striped">
								<tr style="display: none;">
									<td><h5 class="col-md-2 text-right">序号名:</h5>
										<div class="col-md-10">
											<input type="text" class="form-control" id="id" name="id"
												required="" autofocus="" placeholder="" />
										</div></td>
								</tr>

								<tr>
									<td><h5 class="col-md-2 text-right">标题:</h5>
										<div class="col-md-10">
											<input type="text" class="form-control" id="title"
												name="title" required="" autofocus="" placeholder="请输入标题:" />
										</div></td>
								</tr>

								<tr>
									<td><h5 class="col-md-2 text-right">招聘职位:</h5>
										<div class="col-md-10">
											<input type="text" class="form-control" id="name" name="name"
												required="" autofocus="" placeholder="请输入职位名称:" />
										</div></td>
								</tr>

								<tr>
									<td><h5 class="col-md-2 text-right">招聘人数:</h5>
										<div class="col-md-10">
											<input type="text" class="form-control" id="people"
												name="people" required="" autofocus=""
												placeholder="请输入招聘人数:" />
										</div></td>
								</tr>
								<tr>
									<td><h5 class="col-md-2 text-right">单位类型:</h5>
										<div class="col-md-10">
											<input type="text" class="form-control" id="type" name="type"
												required="" autofocus="" placeholder="请输入单位类型:" />


										</div></td>
								</tr>
								<tr>
									<td><h5 class="col-md-2 text-right">单位地址:</h5>
										<div class="col-md-10">
											<input type="text" class="form-control" id="location"
												name="location" required="" autofocus=""
												placeholder="请输入单位地址 " />
										</div></td>
								</tr>
								<tr>
									<td><h5 class="col-md-2 text-right">工作时间:</h5>
										<div class="col-md-10">
											<input type="text" name="worktime" class="form-control"
												id="worktime" required="" autofocus="" placeholder="请输入工作时间" />
										</div></td>
								</tr>
								<tr>
									<td><h5 class="col-md-2 text-right">工作地点:</h5>
										<div class="col-md-10">
											<input type="text" name="workplace" id="workplace"
												class="form-control" placeholder="请输入工作地点" />
										</div></td>
								</tr>
								<tr>
									<td><h5 class="col-md-2 text-right">工作报酬:</h5>
										<div class="col-md-10">
											<input type="text" class="form-control" id="pay" name="pay"
												placeholder="请输入工作报酬" />
										</div></td>
								</tr>
								<tr>
									<td><h5 class="col-md-2 text-right">截止时间:</h5>
										<div class="col-md-10">
										<input type="text" class="datepick form-control" name="deadline"
							id="deadline" require="" autofocus="" value=""
							placeholder="请输入截止时间" />
										</div></td>
								</tr>
								<tr>
									<td><h5 class="col-md-2 text-right">性别要求:</h5>
										<div class="col-md-10">
											<select name="sex" id="sex" class="form-control">
											  <option value="不限">不限</option>
												<option value="男">男</option>
												<option value="女">女</option>
											</select>
										</div></td>
								</tr>
								<tr>
									<td><h5 class="col-md-2 text-right">年级要求:</h5>
										<div class="col-md-10">
											<input type="text" class="form-control" id="grade"
												name="grade" placeholder="请输入年级要求" />
										</div></td>
								</tr>
								<tr>
									<td><h5 class="col-md-2 text-right">校区要求:</h5>
										<div class="col-md-10">
											<input type="text" class="form-control" id="place"
												name="place" placeholder="请输入校区要求" />
										</div></td>
								</tr>
								<tr>
									<td><h5 class="col-md-2 text-right">具体要求:</h5>
										<div class="col-md-10">
											<input type="text" class="form-control" id="need" name="need"
												placeholder="请输入具体要求" />
										</div></td>
								</tr>
								<tr>
									<td>
										<button class=" btn btn-primary btn-block" type="submit"
											onclick="update()">提交</button>
									</td>
								</tr>
							</table>
			


					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>

					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal -->
		</div>

	
	<!--<script>$('#myModal').modal({backdrop: 'static', keyboard: false});-->
<!--</script>-->
<!-- 模态框（Modal） -->
<footer>
    <center>
        <span>@2017 勤工助学中心</span>
        <br/>
        <span>技术支持：明理苑大学生网络文化工作室</span>
    </center>
</footer>
</body>
</html>